.canvas-cart-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-all-products-container{
    display: flex;
    flex-direction: column;
}

.cart-product{
    display: flex;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
}

.cart-title{
    width: 160px;
}

.cart-img{
    width: 100px;
    height: 70px;
    object-fit: contain;
}

.btn-delete{
    border: none;
    background: none;
    color: #f85555;
    height: 21px;
    
}

.bx-trash{
    font-size: 1.3rem;
    cursor: pointer;
    
}

.cart-total{
    display: flex;
    justify-content: end;
    gap: 10px;
    padding: 1rem;
    color: #c4b1b1;
}

.cart-checkout{
    margin-bottom: 20px;
}

.cart-total--check{
    justify-content: space-between;
}


.btn-checkout{
  display: inline-block;
  background: #f85555;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px;
  width: 100%;
  border: none;
  
}

.bx-cart-alt{
    font-size: 1.4rem;
}

.bx-user{
    font-size: 1.4rem;
}

.cart-icon-contaniner{
    position: relative;
}

.cart-length{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f85555;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 14px;
    right: -5px;
}

@media screen AND (max-width: 425px) {
    .cart-title{
        font-size: .9rem;
    }
}


